<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Dnd\OffersBanner\Api\Data\OffersBannerInterface" type="Dnd\OffersBanner\Model\OffersBanner"/>
    <preference for="Dnd\OffersBanner\Api\OffersBannerRepositoryInterface" type="Dnd\OffersBanner\Model\OffersBannerRepository"/>
    <preference for="Dnd\OffersBanner\Api\Data\OffersBannerSearchResultsInterface" type="Dnd\OffersBanner\Model\OffersBannerSearchResults"/>

    <virtualType name="Dnd\OffersBanner\Virtual\Model\Api\SearchCriteria\OffersCollectionProcessor" type="Magento\Framework\Api\SearchCriteria\CollectionProcessor">
        <arguments>
            <argument name="processors" xsi:type="array">
                <item name="filters" xsi:type="object">Magento\Framework\Api\SearchCriteria\CollectionProcessor\FilterProcessor</item>
                <item name="sorting" xsi:type="object">Magento\Framework\Api\SearchCriteria\CollectionProcessor\SortingProcessor</item>
                <item name="pagination" xsi:type="object">Magento\Framework\Api\SearchCriteria\CollectionProcessor\PaginationProcessor</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Dnd\OffersBanner\Model\OffersBannerRepository">
        <arguments>
            <argument name="collectionProcessor" xsi:type="object">Dnd\OffersBanner\Virtual\Model\Api\SearchCriteria\OffersCollectionProcessor</argument>
        </arguments>
    </type>

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="offersbanner_listing_data_source" xsi:type="string">Dnd\OffersBanner\Model\ResourceModel\OffersBanner\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
</config>
